@model SampArch.Presentation.Core.Models.ContactMessage

@{
    ViewBag.Title = "MessageSent";
}

<div class="hero-unit">
        <h1>Message envoyé!</h1>
        <hr />
        <p><cite>@Model.Message</cite></p>
        <p><a class="btn btn-primary btn-large" href="/">Retour</a></p>
</div>
