<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Efmap" version="1.0.221.0" />
  <package id="Efmap" version="1.0.2131.0" />
  <package id="EntityFramework" version="4.2.0.0" />
  <package id="EntityFrameworkProfiler" version="1.0.0.920" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="WebActivator" version="1.4.4" />
</packages>