@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div  class="alert alert-info">
<p>Les sources sont en ligne ici:</p>
<pre>
    http://github.com/rhwy/samparch
</pre>
</div>

<div class="well">
<p>Pour nous suivre:</p>
<ul>
    <li><span class="btn btn-success">Rui</span>
        <ul>
            <li>Blog : <a href="http://www.rui.fr">http://rui.fr</a></li>
            <li>Twitter : <a href="http://twitter.com/rhwy">@@rhwy</a></li>
            <li>Github : <a href="http://github.com/rhwy">rhwy</a></li>
        </ul>
    </li>

    <li><span class="btn btn-success">Julien</span>
        <ul>
            <li>Blog : <a href="http://www.juliencorioland.net">http://www.juliencorioland.net</a></li>
           
        </ul>
    </li>
</ul>
</div>


