@{
    ViewBag.Title = "Start";
}

<div class="hero-unit">
        <h1>Welcome Techdays 2012!</h1>
        <p>Nous allons parler d'ASP.NET MVC, d'architecture, de bonnes pratiques et autres conseils</p>
        <p><a class="btn btn-primary btn-large">What's up?</a></p>
</div>

<div class="row">  
    <div class="span4">
        <h3>Architecture générale</h3>
        <p>
            Ceci est un exemple d'architecture pouvant servir de référence pour de nombreux projets. <br />
            Néanmoins, il ne faut pas oublier qu'il s'agit d'un socle de base, chaque logiciel est unique et possède ses propres singularités auxquelles il faut s'adapter
        </p>
    </div>
    <div class="span4">
        <h3>Un modèle simple</h3>
        <p>
            Pour illustrer un domaine multifonctionnel, nous avons pris deux blocs fonctionnels: une partie en charge d'un blog et une partie pour proposer des nouvelles idées d'articles.
        </p>
    </div>
    <div class="span4">
        <h3>L'état d'esprit</h3>
        <p>
            Il n'y a aucune architecture qui n'évolue pas dans le temps, celle-ci a été dessinée avec un souci de testabilité, de limitation des dépendances et d'évolutivité. Ce sont les caractéristiques principales qui font que votre projet va évoluer serainement dans le temps au gré des refactoring et ajouts de fonctionalités
        </p>
    </div>
</div>